<template id="single-control">
    <tr>
        <td class="js-label"></td>
        <td><input
            class="js-time"
            type="time"
            placeholder='20'/></input></td></td>
        <td><button class="js-add c-button">Add</button></td>
    </tr>
</template>

<template id="component-core">
  <table>
      <thead>
          <tr>
              <th></th>
              <th>Duration</th>
              <th></th>
          </tr>
      </thead>
      <tbody class="js-control-container">
      </tbody>
  </table>
</template>

<script src="./controls.container.js"></script>

