<template id="row">
    <tr>
        <td class="js-label"></td>
        <td class="js-time"></td>
        <td class="js-duration"></td>
        <td><button class="js-removeBtn c-button--symbol">X</button></td>
    </tr>
</template>


<template id="component-core">
  <table>
      <thead>
          <tr>
              <th></th>
              <th>Time</th>
              <th>Duration</th>
              <th></th>
          </tr>
      </thead>
      <tbody class="js-container">
      </tbody>
  </table>
</template>

<script src="./history.container.js"></script>

