<template id="row">
    <tr>
        <td class="js-label">No minimap</td>
        <td class="js-remaining">0:00:03</td>
        <td class="js-until">4:40:24</td>
        <td class="js-added added"></td>
    </tr>
</template>


<template id="component-core">
  <table>
      <thead>
          <tr>
              <th></th>
              <th>Remaining</th>
              <th>Until</th>
              <th></th>
          </tr>
      </thead>
      <tbody class="js-container">
      </tbody>
  </table>
</template>

<script src="./challenges.container.js"></script>

